@tailwind base;
@tailwind components;
@tailwind utilities;

.teting-sidebar .ant-tree-treenode-selected {
  background-color: #f2f6fa;
  border-left: 3px solid #4268da;
}

.teting-sidebar .ant-tree-treenode-selected:hover {
  background-color: #f2f6fa;
  border-left: 3px solid #4268da;
}

.teting-sidebar .ant-tree-treenode:hover {
  background-color: #f2f6fa;
}

.teting-sidebar .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent;
}

.teting-sidebar .ant-tree-node-content-wrapper:hover {
  background-color: transparent !important;
}
.testing-modal-header .ant-tabs-tab {
  border-radius: 0 !important;
}

.testing-modal-header .ant-tabs-tab:first-child {
  border-top-left-radius: 0.25rem !important;
}

.testing-modal-header .ant-tabs-nav-add {
  border-radius: 0 !important;
  border-top-right-radius: 0.25rem !important;
  background-color: #eceff2 !important;
}

.testing-modal-header .ant-tabs-nav,
.testing-modal-header .ant-tabs-tab,
.testing-modal-header .ant-tabs-nav-add {
  margin: 0 !important;
}

.testing-modal-header .ant-tabs-nav::before {
  border-bottom: 0;
}

.testing-modal-header .ant-tabs-tab.ant-tabs-tab-active {
  background-color: #0a38c2 !important;
  border-color: #0a38c2 !important;
}

.testing-modal-header .ant-tabs-tab.ant-tabs-tab-active button svg {
  fill: #ffffff;
}

.testing-modal-header .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
}

.testing-modal-header .ant-tabs-tab {
  background-color: #ffffff !important;
}
