.resize-container {
    display: grid;
    position: relative;
    max-width: 100%;
    width: fit-content;
}

.resize-text {
    display: block;
    cursor: pointer;
    max-width: 100%;
    min-width: 24px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.resize-container:not(.active):hover{
   margin-left: -4px;
}


.resize-container:not(.active):hover .resize-text{
    border: 1px solid theme('colors.gray.200');
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}


.resize-input {
    position: absolute;
    margin-left: -4px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.editable-title .ant-input:focus{
    box-shadow: none;
}