@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Typografy import 
 */

 /* Inter import */
@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-Light.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-Black.ttf') format('truetype');
  font-weight: 900; /* Black weight */
  font-style: normal;
}

/* SourceCodePro import */

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-Light.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/font/source-code-pro/SourceCodePro-Black.ttf') format('truetype');
  font-weight: 900; /* Black weight */
  font-style: normal;
}

/**
 * General style 
 */

body {
  @apply bg-gray-100;
  @apply overflow-hidden;
  @apply h-screen;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: none;
}

h1 {
  @apply text-2xl font-semibold block;
}

.ant-btn-icon-only {
  @apply flex items-center justify-center;
}

.ant-tree-draggable-icon {
  @apply hidden;
}

.ant-tree-treenode {
  @apply h-8 flex w-full hover:bg-gray-100;
  align-items: center !important;
}

.ant-tree-switcher {
  @apply flex items-center justify-center;
}

.ant-btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 font-medium shadow-none !important;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #0a38c2;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

:where(.css-dev-only-do-not-override-2hua9e).ant-picker-large .ant-picker-input > input {
  font-size: 0.875rem !important;
}

.ant-picker {
  @apply h-full;
}

.ant-picker-input {
  @apply text-sm font-medium;
}

.cm-content {
  background-color: transparent;
}

.cm-editor {
  @apply border border-gray-300 rounded text-[0.8rem] overflow-hidden hover:overflow-auto;
  background-color: transparent;
}

.cm-editor-flat {
  @apply border-0 rounded-none;
}

.cm-editor-api-call {
  @apply border-l-0 rounded-tl-none rounded-bl-none rounded-tr-md rounded-br-md h-[38px] w-full pt-[5px] text-sm;
}

.cm-scroller {
  @apply overflow-y-hidden hover:overflow-y-auto !overflow-visible;
}

.cm-focused {
  outline-color: transparent !important;
}

.cm-placeholder {
  color: #8795a1 !important;
}

.cm-matchingBracket {
  @apply bg-[#e5ecff];
}

.cm-gutters {
  @apply !border-none w-fit;
  background: transparent !important;
}

.cm-editor .cm-content :is(div, span) {
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 500;
}

.code-tag {
  @apply rounded;
  padding: 0.1rem;
}

.cm-completionDetail {
  @apply ml-0 float-right;
}

/* This must be !important because they need to defeat
 * all the others if they are used as parameters of Formulas */
.code-editor-hl-env-var,
.code-editor-hl-env-var span {
  @apply !text-[#804af1] !bg-[#ece4fd];
}

.code-editor-hl-entity,
.code-editor-hl-entity span {
  @apply !text-[#0a38c2] !bg-[#e5ecff];
}

.code-editor-config-var,
.code-editor-config-var span {
  @apply !text-[#a626a4] !bg-[#fae8ff];
}

.code-editor-temp-var,
.code-editor-temp-var span {
  @apply !text-[#d97706] !bg-[#fef3c7];
}

.code-editor-hl-formula,
.code-editor-hl-formula span {
  @apply text-[#15803d] bg-[#dcfce7];
}
/* REACT QUERY*/
.svg-font-color svg > path {
  fill: var(--ifm-font-color-base);
}

.queryBuilder {
  @apply w-full;
}

.queryBuilder .ruleGroup {
  @apply flex flex-col gap-4;
}

.queryBuilder .ruleGroup .rule {
  @apply flex gap-2;
}

.queryBuilder .ruleGroup .ruleGroup-header {
  @apply flex order-last items-center;
}

.queryBuilder .ruleGroup .ruleGroup-body {
  @apply flex flex-col gap-2;
}

.queryBuilder .ruleGroup .ruleGroup-body .ruleGroup {
  @apply p-3 border border-gray-400 rounded;
}

.custom-combinator-selector .ant-select-selection-item {
  color: #1677ff;
}

.code-editor-hl-interpolations,
.code-editor-hl-interpolations span {
  @apply !text-[#0a38c2] !bg-[#e5ecff];
}

.queryBuilder
  .ruleGroup
  .ruleGroup-body
  .ant-radio-group-solid
  :where(.css-dev-only-do-not-override-12bs3dt).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ) {
  background-color: #1677ff;
}
/* Custom Execution Selector Style */
.customExecutionFilter .ant-select-selector{
  border-color: #dce6ee!important;
  border-radius: 0.25rem;
}

/**
 * START Design system governance
 */

/**
 * Scroll
 */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border: transparent;
}

*::-webkit-scrollbar-thumb {
width: 2px;
  border-radius: 8px;
border: 3px solid transparent;
 background-clip: content-box;
  background-color: #E0E7F0;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #CBD5E1;
}

/**
 * AntDesign config
 */

/* Botton */
.ant-btn{
  box-shadow: none;
}

.ant-btn.ant-btn-primary:disabled{
  background-color: theme('colors.blue.300');
  color: theme('colors.white');
}

.ant-btn.ant-btn-sm{
  padding: 2px 16px;
  height: auto;
}

.ant-btn.ant-btn-default{
  border-color: theme('colors.gray.300');
}

/* Inputs */
.ant-input{
  border-radius: 4px;
}

.ant-input{
  background-color: transparent;
}

.ant-input-lg {
  @apply text-sm;
}
.ant-input {
  @apply border-gray-200;
  @apply text-xs;
}

/* Modal */
@media screen and (max-height: 859px) {
  .modal-global-sistem.ant-modal .scroll-modal{
    max-height: 350px
  }
}

@media screen and (min-height: 860px) {
  .modal-global-sistem.ant-modal .scroll-modal{
    max-height: 750px
  }
}

.modal-global-sistem.ant-modal{
  top: 0;
  margin-top: 30px;
}

.ant-modal-wrap{
  overflow: hidden;
}

.ant-modal .ant-modal-content{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.ant-modal .ant-modal-content{
  border-radius: 4px;
}

.ant-modal .ant-modal-close{
  top: 10px;
  inset-inline-end: 16px;  
  width: 20px;
  height: 20px;  
}

.ant-modal .ant-modal-close svg{
  width: 16px;
  height: 16px;  
}

/* Form Elements */
.ant-input{
  font-family: 'Inter', sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #fff;
}

.ant-input::placeholder{
  color: theme('colors.gray.400');
}

.ant-input:hover, .ant-input:focus{
  background-color: theme('colors.blue.600');
  background-color: #fff;
}

.ant-checkbox .ant-checkbox-inner:after{
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  width: 4.714286px;
  height: 8.142857px;  
}


textarea.ant-input:not(:focus)::-webkit-resizer{
  display: block;
}

.checkbox-container .ant-checkbox-checked.ant-checkbox-disabled .ant-checkbox-inner{
  background: theme('colors.gray.400');
}

.checkbox-container .ant-checkbox-checked.ant-checkbox-disabled .ant-checkbox-inner::after{
  border-color: #fff
}

.ant-switch{
  background: theme('colors.gray.400');
}

.ant-switch.ant-switch-disabled{
  opacity: 1;
}

.ant-switch.ant-switch-disabled{
  background-color: theme('colors.gray.400');
}

.ant-radio-wrapper .ant-radio-disabled .ant-radio-input{
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;

}

.ant-radio-wrapper .ant-radio-disabled .ant-radio-inner{
  border-color: theme('colors.gray.400');
  background-color: #fff;
}

.ant-radio-wrapper .ant-radio-disabled.ant-radio-checked .ant-radio-inner{
  border-color: theme('colors.gray.400');
  background-color: theme('colors.gray.400');
}


.ant-radio-wrapper .ant-radio-disabled .ant-radio-inner::after{
  background-color: #fff;
}

/* Calendar */
.ant-picker-calendar .ant-picker-panel .ant-picker-date-panel .ant-picker-body{
  padding-bottom: 0;
}

/* Dropdown */
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item .ant-dropdown-menu-title-content{
  text-transform: none;
  font-size: 12px
}

.api-dropdown .ant-input {
  @apply rounded-l-none border-l-0;
}
.ant-dropdown-trigger {
  @apply border-gray-300 shadow-none;
}

.ant-dropdown-menu-title-content {
  @apply capitalize;
}

.env-dropdown-production .ant-btn-default:hover {
  color: #fff !important;
  border-color: #7e3af2 !important;
}

.env-dropdown-sandbox .ant-btn-default {
  @apply border-blue-600 bg-blue-100 text-blue-600 hover:bg-blue-600;
}

.env-dropdown-sandbox .ant-btn-default:hover {
  color: #fff !important;
  border-color: #0a38c2 !important;
}

.env-dropdown-development .ant-btn-default {
  @apply border-[#be185d] bg-[#fce7f3] text-[#be185d] hover:bg-[#be185d];
}

.env-dropdown-development .ant-btn-default:hover {
  color: #fff !important;
  border-color: #be185d !important;
}

/* Select Dropdown */
.ant-select.ant-select-single{
  height: auto;
}

.ant-select.ant-select-single .ant-select-selector{
  height: 34px;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  border-color: theme('colors.gray.200');
}

.ant-select-single .ant-select-selection-item,
.ant-select-dropdown .ant-select-item{
  font-size: 12px;
  min-height: auto;
}


/* Table */
.ant-table-wrapper .ant-table{
  border-radius: 6px;
}

.ant-table-container .input-type-cell.ant-table-cell{
  padding: 0;
  height: 0;
  border: none;
}

.ant-table-wrapper table {
  table-layout: fixed !important;
}

/* Table with input (general)*/
.ant-table-container .ant-table-row .input-type-cell.ant-table-cell > input,
.ant-table-container .ant-table-row .input-type-cell.ant-table-cell .content-editor-code-globla-style{
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  display: flex;
  min-height: 36px;

}

.ant-table-container .ant-table-row:last-child .input-type-cell.ant-table-cell > input,
.ant-table-container .ant-table-row:last-child .input-type-cell.ant-table-cell .content-editor-code-globla-style{
  margin-top: -1px;
}

.ant-table-container .ant-table-row .input-type-cell.ant-table-cell > input:hover,
.ant-table-container .ant-table-row .input-type-cell.ant-table-cell > input:focus,
.ant-table-container .ant-table-row .input-type-cell.ant-table-cell .cm-editor:hover,
.ant-table-container .ant-table-row .input-type-cell.ant-table-cell .cm-editor.cm-focused{
  z-index: 1;
}

.ant-table-container .ant-table-row .input-type-cell.ant-table-cell > input,
.ant-table-container .ant-table-row .input-type-cell.ant-table-cell .cm-editor{
  border-radius: 0;
}

.ant-table-container .ant-table-row .input-type-cell.ant-table-cell .cm-editor{
  width: 100%;
}

.ant-table-container .ant-table-row:first-child .input-type-cell.ant-table-cell:first-child > input,
.ant-table-container .ant-table-row:first-child .input-type-cell.ant-table-cell:first-child .cm-editor{
  border-top-left-radius: 6px;
}

.ant-table-container .ant-table-row:first-child .input-type-cell.ant-table-cell:last-child > input,
.ant-table-container .ant-table-row:first-child .input-type-cell.ant-table-cell:last-child .cm-editor{
  border-top-right-radius: 6px;
}

.ant-table-container .ant-table-row:last-child .input-type-cell.ant-table-cell:last-child > input,
.ant-table-container .ant-table-row:last-child .input-type-cell.ant-table-cell:last-child .cm-editor{
  border-bottom-right-radius: 6px;
}

.ant-table-container .ant-table-row:last-child .input-type-cell.ant-table-cell:first-child > input,
.ant-table-container .ant-table-row:last-child .input-type-cell.ant-table-cell:first-child .cm-editor{
  border-bottom-left-radius: 6px;
}

/**
 * Tailwind config
 */
/* text */
.text-xs	{
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base	{
  font-size: 1rem;
}

.text-lg{
  border-bottom-style: solid;
  font-size: 1.125rem;
}

.text-xl{
  font-size: 1.25rem;
}

.text-2xl{
  font-size: 1.5rem;
}

.text-3xl{
  font-size: 1.875rem;
}

.text-4xl{
  font-size: 2.25rem;
}

.text-5xl{
  font-size: 3rem;
}

.text-5xl{
  font-size: 3rem;
}

.text-6xl{
  font-size: 3.75rem;
}

.text-7xl{
  font-size: 4.5rem;
}

.text-8xl{
  font-size: 6rem;
}

.text-9xl{
  font-size: 8rem;
}

/* border */
.border-transparent{
  border-color: transparent;
}

/* general */
.inline{
  display: inline;
}

/**
 * Other style
 */

.p-0-3rem {
  padding: 0.3rem;
}

.pt-0-3rem {
  padding-top: 0.3rem;
}

.pb-0-3rem {
  padding-bottom: 0.3rem;
}

.pl-0-3rem {
  padding-left: 0.3rem;
}

.pr-0-3rem {
  padding-right: 0.3rem;
}



/**
 * END Design system governance
 */
