.inputClass{
    margin-bottom: 15px;
}

.inputNames{
    margin-bottom: 20px;
    color:darkgrey
}

.input-col-custom{
    margin-top: 5px;
}

.titleNames{
    color:darkgrey;
    text-align: center;
   
}